body {
    background: #555;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
}

.content {
    max-width: 350px;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #cccccc;
    height: 100%;
}

.bloco1 {
    border: 2px rgba(54, 54, 255, 0.349);
    border-radius: 10px;
    background-color: rgba(54, 54, 255, 0.349);
    text-align: center;
    padding-bottom: 5%;
}

.espaco {
    padding: 2%;
}

.p {
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgb(255, 123, 0);
    padding: 2%;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    font-size: 200%;
}

input {
    width: 85%;
    line-height: 20px;
    display: table-cell;
    border-radius: 5px;
    line-height: 300%;
    padding-left: 5%;
}

.botao {
    color: white;
    padding: 2%;
    font-size: 100%;
    width: 50%;
    border-radius: 3px;
    display: inline-block;
    user-select: none;
}

.botao2 {
    color: white;
    font-size: 100%;
    width: 70%;
    border-radius: 5px;
    text-align: left;
    user-select: none;
    padding-left: 3%;
    margin: auto;
}

.botao3 {
    background-color: rgb(255, 123, 0);
    color: white;
    user-select: none;
}

.t {
    text-align: center;
}

.botao:hover,
.botao2:hover,
.botao3,
.voltar:hover,
.fabrica:hover {
    cursor: pointer;
}

.botao:active,
.botao2:active,
.botao3,
.voltar:active,
.fabrica:active {
    transform: translateY(4px);
}

.social {
    padding: 5%;
    padding-top: 10%;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 70%;
    max-width: 350px;
    bottom: 10%;
}

.img {
    width: 20%;
    height: 20%;
    float: left;
}

.voltar {
    width: 15%;
    height: 15%;
}

.tituloFabrica {
    color: white;
    background-color: rgb(255, 123, 0);
    text-align: center;
}

.fabrica {
    width: 50%;
    height: 50%;
    margin-top: 5%
}

.homem {
    float: left;
}

.fala {
    vertical-align: middle;
    padding: 10%;
    width: 55%;
    background-color: white;
    text-align: justify;
    margin-left: 20%;
    font-size: medium;
    border-radius: 10px;
    margin-top: 3%;
    height: 4.375rem;
    user-select: none;
}

@media only screen and (min-height: 100%) {}